.case {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 300px;
    height: 500px;
    background: var(--cor-white);

    margin: 20px auto;
    padding: 20px;

    border: 1px solid var(--cor-black);
    border-radius: 5px 5px 30px 30px;
    box-shadow: 17px 2px 4px var(--cor-black-1);
}

.borda-tela {
    width: 250px;
    height: 250px;
    background: var(--cor-black);

    margin: 0px auto;
    padding: 30px;
    border-radius: 5px 5px 20px 20px;
}

.borda-tela > #power {
    width: 35px;
    height: 50px;

    margin-top: 20px;
    margin-left: -30px;
    padding: 5px;
    float: left;
}

.borda-tela > #power > #luz {
    width: 10px;
    height: 10px;
    background: #3E3434;

    margin-bottom: 5px;
    border-radius: 50%;
}

.borda-tela > #power > #luz > p {
    color: var(--cor-gray);
    font-size: var(--f-size-3);
    margin-left: 15px;
}

.borda-tela > #power > p {
    color: var(--cor-gray);
    font-size: var(--f-size-3);
}

.tela {
    width: 180px;
    height: 150px;
    background: rgb(100, 98, 98);
    margin: 0px auto;
}

#logo {
    width: 100px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid var(--cor-black);
    box-shadow: 0px 0px 5px rgb(85, 83, 83);
}

#logo h2 {
    color: rgb(19, 14, 14);
    font-size: var(--f-size-2);
    text-align: center;
    padding: 2px;
}

.marca {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin-top: 20px;
}

.marca h2 {
    color: var(--cor-white);
    font-size: var(--f-size-1);
    font-family: var(--f-family);
    font-weight: var(--f-weight);
    margin-left: 15px;
}

#color {
    display: flex;
    flex-direction: row;

    width: 90px;
    font-size: var(--f-size-1);
    font-family: var(--f-family);
    font-weight: var(--f-weight);
}

.conteudo-btn {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 280px;
    height: 100px;
    margin-top: 20px;
}

.btn-left {
    width: 80px;
    height: 70px;
    margin-left: 20px;
}

.btn-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 80px;
    background: var(--cor-black-1);

    margin: 0px auto;
    border-radius: 5px;
}

.btn-v {
    width: 20px;
    height: 20px;
    background: var(--cor-black-1);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#btn-central {
    width: 25px;
    height: 25px;
    background: var(--cor-black-1);
    margin-left: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80px;
    height: 30px;
    margin-top: -55px;
    background: var(--cor-black-1);
    border-radius: 5px;
}

.btn-h {
    width: 20px;
    height: 15px;
    background: var(--cor-black-1);
    margin: 8px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-right {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100px;
    height: 70px;
    margin-left: 60px;
}

.btn-b,
.btn-a {
    width: 35px;
    height: 35px;
    background: var(--cor-black-1);
    margin-top: 10px;
    box-shadow: 0px 0px 5px var(--cor-black);
    border-radius: 50%;
}

.btn-a {
    margin-top: -30px;
    margin-left: 20px;
}

.btn-right p{
    margin-top: 5px;
    color: var(--cor-white);
    text-align: center;
    cursor: pointer;
}

.play {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120px;
    margin: 30px auto;
}

.btn-select,
.btn-start {
    width: 50px;
    height: 15px;
    background: var(--cor-black);
    border-radius: 10px;
    cursor: pointer;
}

.text-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 115px;
    margin-top:-30px;
    padding: 10px;
}

.text-btn p {
    margin: -5px;
    color: var(--cor-black);
    font-size: var(--f-size-2);
    font-family: var(--f-family);
    font-weight: var(--f-weight);
}

#auto-falante{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 200px;
}

#auto-falante span {
    margin-bottom: -15px;
    color: var(--cor-black);
    font-size: var(--f-size-0);
}