.mudar-jogo {
    width: 400px;
    height: 350px;
    background: var(--cor-white);
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--cor-gray);
    gap: 20px;
}

.mudar-jogo h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--cor-black-1);
    font-size: var(--f-size-0);
}

.caixa-de-jogos { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.caixa-de-jogos img{
    width: 90px;
    height: 90px;
    background: var(--cor-white);
    border: 1px solid var(--cor-gray);
    border-radius: 5px;
}

.mario:hover,
.pokemon:hover,
.zelda:hover,
.donkey:hover,
.marioCart:hover,
.smurfs:hover
 {
    padding: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--cor-black);
}
