.mudar-cor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 400px;
    height: 120px;
    background: var(--cor-white);
    
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--cor-gray);
    border-bottom: none;
}

.mudar-cor h4 {
    margin-top: 10px;
    color: var(--cor-black-1);
    font-size: var(--f-size-0);
}

.caixa-de-cores {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.caixa-de-cores:hover {
    cursor: pointer;
}

.red,
.yellow,
.blue,
.green,
.black {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid var(--cor-black);
    border-radius: 50%;
}
